<%= form_for (@book) do |f| %>
   <% if @book.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@book.errors.count, "error") %> employee document can't be saved:</h2>

      <ul>
      <% @book.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title  %>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :author_name %>
    <%= collection_select(:book, :author_id, Author.all, :id, :name, {:prompt => true})%>
  </div>
  <div class="field">
    <%= f.label :add_a_new_author %>
    <%= link_to 'New Author', new_author_path(@author) %>
   </div>
  <div class="field">
    <%= f.label :ISBN_10 %>
    <%= f.number_field :ISBN_10 %>
  </div>
  <div class="field">
    <%= f.label :ISBN_13 %>
    <%= f.number_field :ISBN_13 %>
  </div>
  <div class="field">
    <%= f.label :Rank %>
    <%= f.number_field :rank %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>


