<%#<%= form_for [@book] do |f| %>%>
  <%#<% if @book.errors.any? %>%>
    <%#<div id="error_explanation">%>
      <%#<h2><%= pluralize(@book.errors.count, "error") %> prohibited this book from being saved:</h2>%>

      <%#<ul>%>
      <%#<% @book.errors.full_messages.each do |msg| %>%>
        <%#<li><%= msg %></li>%>
      <%#<% end %>%>
      <%#</ul>%>
    <%#</div>%>
  <%#<% end %>%>

  <%#<div class="field">%>
    <%#<%= f.label :title %><br />%>
    <%#<%= f.text_field :title %>%>
  <%#</div>%>
  <%#<div class="field">%>
    <%#<%= f.label :author_name %><br />%>
    <%#<%= @book.author.name %>%>
  <%#</div>%>
  <%#<div class="field">%>
    <%#<%= f.label :ISBN_10 %><br />%>
    <%#<%= f.number_field :ISBN_10 %>%>
  <%#</div>%>
  <%#<div class="field">%>
    <%#<%= f.label :ISBN_13 %><br />%>
    <%#<%= f.number_field :ISBN_13 %>%>
  <%#</div>%>
  <%#<div class="actions">%>
    <%#<%= f.submit %>%>
  <%#</div>%>
<%#<% end %>%>

<%= form_for [@author, @book] do |f| %>
  <%= f.label :title %><br>
  <%= f.isbn :ISBN_10 %><br>
  <%= f.isbn :ISBN_13 %><br>
  <%= f.label :rank %><br>
  <%= f.submit %>
<% end %>
