<h1>Scholastic Popular Books</h1>


<% if user_signed_in? %>
  <b> <%= link_to 'Add New Book', new_book_path %></b>
<% end %> 


<table>
  <tr>
    <th><%= sortable 'Title', 'Title' %></th>
    <th>Author</th>
    <th>Isbn 10</th>
    <th>Isbn 13</th>
  <% if user_signed_in? %>
    <th><%= sortable 'Rank', 'Rank' %></th>
    <th></th>
    <th></th>
  <% end %>
  </tr>

<% even_odd = 0 %>
<% @books.each do |book| %>
   <% even_odd = 1 - even_odd %>
  <tr class="background<%= even_odd %>">
    <td><%= truncate(book.title, length: 65, seperator: '...') %></td>
    <td><%= book.author.name %></td>
    <td><%= book.ISBN_10 %></td>
    <td><%= book.ISBN_13 %></td>
<% if user_signed_in? %>
    <td><%= book.rank %></td>
    <td><%= link_to 'Show', book %></td>
    <td><%= link_to 'Edit', edit_book_path(book) %></td>
    <td><%= link_to 'Destroy', book, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  <% end %>
  </tr>
<% end %>
</table>

<br />

