<p id="notice"><%= notice %></p>

<p>
  <b>Author:</b>
  <%= @book.author.name %>
</p>


<p>
  <b>Title:</b>
  <%= @book.title %>
</p>

<p>
  <b>Isbn 10:</b>
  <%= @book.ISBN_10 %>
</p>

<p>
  <b>Isbn 13:</b>
  <%= @book.ISBN_13 %>
  </p>

<p>
  <b>Rank:</b>
  <%= @book.rank %>
</p>



<%= link_to 'Edit', edit_book_path(@book) %> |
<%= link_to 'Back', books_path %>
